body {
  width: 90%;
  font-size: 10px;
  background: #355e3b;
  margin: auto;
}
h1 {
  color: white;
  text-align: center;
}
li {
  font-size: 1.5em;
  display: inline-block;
  text-align: center;
  width: 2.5em;
  border: 2px solid black;
  padding: 2.5em .75em ;
  margin: 1em;
  list-style-type: none;
  background: white;
}
button {
  color: white;
  display: inline;
  margin: auto;

}