body {
  width: 95%;
  font-size: 10px;
  font-family: 'Cinzel', serif;
  background: #355e3b;
  margin: auto;
}
h1 {
  color: white;
  text-align: center;
  margin-top: .5em;
  text-shadow: 1px 1px 1px black;
}
span {
  font-size: .7em
}
ul {
  margin-top: 1em;
  text-align: center;
}
li {
  font-size: 1.4em;
  display: inline-block;
  text-align: center;
  width: 2.25em;

  border-radius: 10%;
  padding: 2.25em 1em ;
  margin: 1em;
  list-style-type: none;
  background: white;
  text-shadow: 1px 0 1px gray;
  box-shadow: .5px 0 .5px white;
}
#buttons {
  text-align: center;
  width: 95%;
  margin: auto;
}
#shuffle,
#sort {
  font-family: 'Cinzel', serif;
  font-weight: 3em;
  background-color: red;
  color: white;
  box-shadow: 0 0 15px white;
  border: none;
}
#sort {
  padding: 0 4em;
  margin-left: 1.5em;
}
#shuffle:hover,
#sort:hover {
box-shadow: 0 0 50px white;
}